
.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1500px;

}
.row {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*this is a modern use of a clear fix*/
.row:after{
    /*content with empty string will give artificial content to set a height*/
    content: '';
    /*display table makes your element act like a table*/
    display: table;
    clear: both;
}
.column {
   /* border: 1px solid black;*/
    float: left;
    padding: 10px;
    /*background-color: #dddddd;*/
    box-sizing: border-box ;
}
.one-third {
     width: 33.33%;
 }
 .one-fourth {
     width: 25%;
 }
 .one-eighth {
     width: 12.5%;
 }
 .one-half {
     width: 50%;
 }
.three-eighth{
    width: 37.5%;
}
.two-thirds{
    width: 66.66%;
}
.two-fourth {
    width: 50%;
}
.three-sixth {
    width: 50%;
}

.offset-one-half{
    margin-left: 50%;
}
.offset-one-third{
    margin-left: 33.33%;
}
.offset-two-third{
    margin-left: 66.66%;

}
.offset-one-fourth{
    margin-left: 25%;

}

@media screen and (min-width:768px) {

    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 1500px;
    }

    .row {
        width: 100%;

    }

    .row:after {
        /*content with empty string will give artificial content to set a height*/
        content: '';
        /*display table makes your element act like a table*/
        display: table;
        clear: both;
    }

    .column {
        /*border: 1px solid black;*/
        float: left;
        padding: 10px;
        /*background-color: #dddddd;*/
        box-sizing: border-box;
    }

    .column.one-half {
        width: 50%;
    }
}