
.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;

}
.row {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*this is a modern use of a clear fix*/
.row:after{
    /*content with empty string will give artificial content to set a height*/
    content: '';
    /*display table makes your element act like a table*/
    display: table;
    clear: both;
}
.column {
    border: 1px solid black;
    float: left;
    padding: 10px;
    background-color: #dddddd;
    box-sizing: border-box ;
}
.one-third {
     width: 33.33%;
 }
 .one-fourth {
     width: 25%;
 }
 .one-eighth {
     width: 12.5%;
 }
 .one-half {
     width: 50%;
 }
.three-eighth{
    width: 37.5%;
}
.two-thirds{
    width: 66.66%;
}
.two-fourth {
    width: 50%;
}
.three-sixth {
    width: 50%;
}