/*adding grid layout from layout exercise*/

/*Mobile layout*/
.nav-links {
   list-style-type: none;
   padding-left: 0;
    text-align: center;
}

body  {
    margin: 15px;
    
}

#social-media-links{
    display: none;

}
h1{
    text-align: center;
}
section {
    text-align: left;
}
img {
    width: 100%;
    /*max-width: 1200px;*/
    /*height: auto;*/
}

.alert-info {
    background-color: turquoise;
    border: 1px solid grey;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

}
li {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: grey;
}
.sub-section {
    margin-top: 60px;
}

/*Desktop layout*/
@media screen and (min-width:768px){

    .container {
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
    }
    .row {
        width: 100%;

    }
    .row:after {
        /*content with empty string will give artificial content to set a height*/
        content: '';
        /*display table makes your element act like a table*/
        display: table;
        clear: both;
    }
    .column {
        /*border: 1px solid black;*/
        float: left;
        padding: 10px;
        /*background-color: #dddddd;*/
        box-sizing: border-box;
    }
    .column.one-half {
        width: 50%;
    }

    .hidden-on-desktop {
        display: none;
    }

    .nav-links{
        margin-top: 27px;
        float: right;
    }

    
    ul>li {
        display: inline;
        background-color: transparent;

    }
    li:not(:last-child) {
        padding-right: 20px;
    }
    
    img {
        width: 100%;
        /*clear: both;
        width: 100%;
        max-width: 1200px;
        height: auto;*/
    }
    h1 {
        float: left;

    }

    section {
        float: left;
    }

    .sub-section {
        /*width: 250px;*/
        margin: 0;
    }

    .main {
        /*width: 458px;*/
        padding-right: 30px;


    }
    .social-media-links {

    }

    footer {
        clear: both;
        height: 100px;
        /*width: 100%;*/
    }
    
    footer>p {
        margin-top: 70px;
        position: absolute;
        float: left;
    }

  #social-media-links {
      position: static;
      text-align: right;
      display: block;



        


        
    }
    .soc-img {
        height: 50px;
        width: 50px;
    }




    

    

}






