/*Mobile layout*/
.nav-links {
   list-style-type: none;
   padding-left: 0;
}

body  {
    margin: 15px;
    text-align: center;
}
section {
    text-align: left;
}
.header-img >img {
    width: 100%;
    max-width: 425px;
    height: auto;
}

.alert-info {
    background-color: turquoise;
    border: 1px solid grey;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;

}
li {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: grey;
}
.sub-section {
    margin-top: 60px;
}

/*Desktop layout*/
@media screen and (min-width:768px){
    .hidden-on-desktop {
        display: none;
    }

    li {
        display: inline-block;
        float: right;
        background-color: transparent;
        padding-right: 15px;
    }
    
    .header-img>img {
        clear: both;
        width: 100%;
        max-width: 1200px;
        height: auto;
    }
    h1 {
        float: left;
    }

    section {
        float: left;
    }

    .sub-section {
        width: 30%;
        margin: 0;

    }

    .main {
        width: 60%;
        padding-right: 30px;


    }
    footer>p {
        float: left;
        top: 250px;
        margin-top: 300px;
    }

    #social-media-links>a {



    }
    #social-media-links>img {
        width: 50px;
        height: auto;


    }

    

    

}






