/*
3 types of selectors
1. element (tag name like section, main, or footer)
2. class (start with a . and are tied to class="" in html) more important than elements
3. id (most important ones) they start with a # and start with a # in css

multiple selectors are written h1, .fancy-header{} (seperate them with a comma)


Open up your welcome.html file from earlier.
Center the main heading
Add a style to change the color of the headers on your page and make them underlined.
Add a style to change the background color of the page.
Add a style to add a background image to your background. Search how to manipulate the position, sizing of this background image.
Add a style to change the list-style to something other than the default bullet.
Add a style to change the font for the entire page. Use google fonts if you would like.
Add a style to change the table, table cells td and rows tr padding and font sizes.
Add a style to alter the anchor tags and its different states. (e.g. link, visited, hover and active).
Continue experimenting with styles to increase the visual appeal of the page.*/



#center {

    text-align: center;
}

h1, h2{
    color: purple;
    text-decoration: underline;
}

body {
    background-color: beige;
}

main {
    background-image: url(https://vignette.wikia.nocookie.net/scottpilgrim/images/3/35/Scott_p_by_radiomaru.png/revision/latest?cb=20101123010423);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;;
    background-size: 20%;
    font-family: 'Karma', serif;


}

ul {
    list-style-image: url("https://secure.gravatar.com/avatar/200f2a31fcab3c6c4fff71d2a19eb0cb?s=40&d=mm&r=g");

}

th, td {
    border-bottom: 3px solid #ddd;
    font-size: 2em;
    padding: 10px 80px 10px 80px;


}

 a:link {
    color:red;
}

a:visited {
    color:black;
}

a:hover {
    color:grey;
}

a:active {
    color:green;
}



