/*
3 types of selectors
1. element (tag name like section, main, or footer)
2. class (start with a . and are tied to class="" in html) more important than elements
3. id (most important ones) they start with a # and start with a # in css

multiple selectors are written h1, .fancy-header{} (seperate them with a comma)


Open up your welcome.html file from earlier.
Center the main heading
Add a style to change the color of the headers on your page and make them underlined.
Add a style to change the background color of the page.
Add a style to add a background image to your background. Search how to manipulate the position, sizing of this background image.
Add a style to change the list-style to something other than the default bullet.
Add a style to change the font for the entire page. Use google fonts if you would like.
Add a style to change the table, table cells td and rows tr padding and font sizes.
Add a style to alter the anchor tags and its different states. (e.g. link, visited, hover and active).
Continue experimenting with styles to increase the visual appeal of the page.*/



body {
    background-color: seashell;
    font-family: 'Karma', serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

#center {
    background: rgba(217, 217, 217, 0.94);
    text-align: center;
    background-attachment: fixed;
}

#container-top {
    padding-top: 112px;
}

.about_us {
    margin: auto;
    padding-left: 18%;
    float: left;
}

.about_us>p {
    font-size: x-large;
}

.about_bar {
    margin: auto;
    width: 100%;
    padding: 10px;
    overflow: hidden;
    background-color: darkgrey;
    text-align: center;
}

h1, h2{
    color: purple;
    text-decoration: underline;
    text-align: center;
}

#center-container {

    margin: auto;
    width: 50%;
    padding: 10px;

}

.table-center {
    border-bottom: 3px solid #ddd;
    font-size: 2em;
    padding: 10px 80px 10px 80px;
    text-align: center;
}

 a:link {
    color:red;
}

a:visited {
    color:black;
}

a:hover {
    color:grey;
}

a:active {
    color:green;
}

.vision {
    width: 100%;
    margin-top: 30%;
    margin-bottom: 20%;
    clear: both;
    text-align: center;
}

.main-image {

    margin-left: .5%;
    margin-right: .5%;
    width: 20%;
    height: 20%;
}

#container-margin {
    margin-top: 5%;
}



